{% extends "base.html" %}
{% block content %}

<head>
    <script type="text/javascript">
      window._mNHandle = window._mNHandle || {};
      window._mNHandle.queue = window._mNHandle.queue || [];
      medianet_versionId = "3121199";
     </script>
  <script src="https://contextual.media.net/dmedianet.js?cid=8CU3EK733" async="async"></script>
</head>

<div id="530942823">
    <script type="text/javascript">
        try {
            window._mNHandle.queue.push(function (){
                window._mNDetails.loadTag("530942823", "970x90", "530942823");
            });
        }
        catch (error) {}
    </script>
</div>

<style>

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
* {box-sizing: border-box;}

.wrapper > div {
  border-radius: 1px;
  background-color: #2B547E;
}
</style>

<div class="wrapper">
        <div><img src= "{{ url0 }}" style="width: 285px; height: 285px;" class="img"><p style="color: white; text-align:center;">image one</p></div>
        <div><img src= "{{ url1 }}" style="width: 285px; height: 285px;" class="img"><p style="color: white; text-align:center;">image two</p></div>
        <div><img src= "{{ url2 }}" style="width: 285px; height: 285px;" class="img"><p style="color: white; text-align:center;">image three</p></div>
        <div><img src= "{{ url3 }}" style="width: 285px; height: 285px;" class="img"><p style="color: white; text-align:center;">image four</p></div>
        <div><img src= "{{ url4 }}" style="width: 285px; height: 285px;" class="img"><p style="color: white; text-align:center;">image five</p></div>
        <div><img src= "{{ url5 }}" style="width: 285px; height: 285px;" class="img"><p style="color: white; text-align:center;">image six</p></div>
        <div><img src= "{{ url6 }}" style="width: 285px; height: 285px;" class="img"><p style="color: white; text-align:center;">image seven</p></div>
        <div><img src= "{{ url7 }}" style="width: 285px; height: 285px;" class="img"><p style="color: white; text-align:center;">image eight</p></div>
        <div><img src= "{{ url8 }}" style="width: 285px; height: 285px;" class="img"><p style="color: white; text-align:center;">image nine</p></div>
        <div><img src= "{{ url9 }}" style="width: 285px; height: 285px;" class="img"><p style="color: white; text-align:center;">image ten</p></div>
        <div><img src= "{{ url10 }}" style="width: 285px; height: 285px;" class="img"><p style="color: white; text-align:center;">image eleven</p></div>
        <div><img src= "{{ url11 }}" style="width: 285px; height: 285px;" class="img"><p style="color: white; text-align:center;">image twelve</p></div>
        <div><img src= "{{ url12 }}" style="width: 285px; height: 285px;" class="img"><p style="color: white; text-align:center;">image thirteen</p></div>
        <div><img src= "{{ url13 }}" style="width: 285px; height: 285px;" class="img"><p style="color: white; text-align:center;">image fourteen</p></div>
        <div><img src= "{{ url14 }}" style="width: 285px; height: 285px;" class="img"><p style="color: white; text-align:center;">image fifteen</p></div>
</div>
{% endblock %}